* {
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
}

html {
    color: #b62121;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-family: "Urbanist", sans-serif;
    background-color: #b79921;
}

.main_todo_div {
    width: 36rem;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
    height: auto;
    margin-bottom: 1rem; /* Added margin for spacing between todos */
    background-color: #2e2c2d; /* Background color for the todo item */
    padding: 1rem;
    border-radius: 0.6rem;
}

li {
    cursor: pointer;
    list-style-type: circle;
    margin: 2rem 0;
    text-transform: capitalize;
    font-weight: 500;
}

button {
    height: 5rem;
    background-color: #62f57d;
    padding: 0.6rem 2.4rem;
    border-radius: 10rem;
    margin-right: 3.6rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover {
    box-shadow: inset 0 0 0 0.2rem #f5ee62;
    background-color: transparent;
    color: #62e6f5;
}

input {
    padding: 6px 2px;
    min-width: 32rem;
    font-size: 18px;
    border-radius: 0.6rem;
    border: none;
    margin-right: 1.2rem;
}

h1 {
    font-size: 3.6rem;
    margin-top: 4.8rem;
}

hr {
    margin-bottom: 3.2rem;
}

p,
li,
button {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-family: "Urbanist", sans-serif;
    line-height: 1.6;
}

/* Corrected the li:hover + .deleteBtn selector */
.main_todo_div li:hover + .deleteBtn {
    box-shadow: inset 0 0 0 0.2rem #f5ee62;
    background-color: rebeccapurple;
    color: #f5ee62;
}
